:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --accent-color: #999999;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  
}

.container-1{
    margin-inline:auto;
    background-image: url("../images/main.png");
    background-repeat: no-repeat;
    height: 1024px;
    width: 1540px;
    background-size:cover;
    position:relative;
}
.navbar {
 position: relative;
 margin-right: 50px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-top: 20px;
}
nav ul li{
   list-style-type: none;
   display: inline-block;
}
nav ul li a {
    color: #ffffff ;
    text-decoration: none;

}
.logo{
    padding: 10px;
}
.container-1 h1 {
    position: relative;
    margin-top: 100px;
    margin-left: 75px;
    font-size: 70px;
    margin-bottom: 1rem;
    color: #ffffff;
}
.container-1 p {
    position: relative;
    margin-top: 10px;
    margin-left: 75px;
    font-size: 40px;
    color: #ffffff;
}
.container-1 .btn {
    position: relative;
    margin-left: 650px;
    margin-top: 400px;
    color: #ffffff;
    height: 60px;
    width: 200px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid white;
    padding-top:10px;
    text-align: center;
}

#sessions h2 {
    font-size: 60px;
    margin-top: 100px;
    margin-left: 300px;
    
}
.container{
    height: 900px;
    width: 1400px;
    position: relative;
}

.container .wrapper-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-items: center;
    margin-top: 50px; 
    margin-left: 50px; 
}

.wrapper-grid .session-option1,
.wrapper-grid .session-option2,
.wrapper-grid .session-option3,
.wrapper-grid .session-option4 {
    width: 100%;
    max-width: 550px; 
    height: 350px; 
    background-size: cover; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.wrapper-grid .session-option1 h3,
.wrapper-grid .session-option2 h3,
.wrapper-grid .session-option3 h3,
.wrapper-grid .session-option4 h3{
    font-size: 36px;
} 

.session-option1 {
    background-image: url(../images/image\ 7.png);
}

.session-option2 {
    background-image: url(../images/image\ 6.png);
}

.session-option3 {
    background-image: url(../images/image\ 5.png);
}

.session-option4 {
    background-image: url(../images/image\ 3.png);
}
.wrapper-grid .session-option1::before,
.wrapper-grid .session-option2::before,
.wrapper-grid .session-option3::before,
.wrapper-grid .session-option4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: 1; 
    transition: background-color 0.3s ease;
}


.wrapper-grid .session-option1 h3,
.wrapper-grid .session-option2 h3,
.wrapper-grid .session-option3 h3,
.wrapper-grid .session-option4 h3 {
    position: relative;
    z-index: 2; 
}

.wrapper-grid .session-option1:hover::before,
.wrapper-grid .session-option2:hover::before,
.wrapper-grid .session-option3:hover::before,
.wrapper-grid .session-option4:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

#about h2 {
    position: relative;
    font-size: 36px;
    margin-bottom: 20px;
}
#about p {
    font-size: 1rem;
    max-width: 800px;
    margin: auto;
    margin-bottom: 70px;
    padding: 20px;
}
.btn3{
    color: black;
    height: 80px;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid black;
    padding:20px;
    text-align: center;

}
.container-2{
    margin-bottom: 50px;
}

#contact h2 {
    margin: auto;
    font-size: 36px;
    margin-bottom: 20px;
}
#contact form {
    position: relative;
    margin-left: 250px;
    max-width: 600px;
    margin-bottom: 50px;
}
#contact .form-control {
    margin-bottom: 10px;
}
.btn4{
    color: black;
    height: 60px;
    width: 200px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid black;
    padding:10px;
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@media (max-width:768px) {
    .container-1 {
        height: 800px;
        width: 760px;
    }

    .container-1 h1 {
        font-size: 48px;
    }
    .container-1 p {
        font-size: 24px;
    }
   
    #sessions h2 {
        font-size: 48px;
        margin-top: 50px;
        margin-left: 140px;
        
    }
    .container{
        height: 550px;
        max-width: 700px;
        position: relative;
    }
    
    .container .wrapper-grid {
        position: relative;
        margin-right: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .wrapper-grid .session-option1,
    .wrapper-grid .session-option2,
    .wrapper-grid .session-option3,
    .wrapper-grid .session-option4 {
        width: 100%;
        max-width: 400px;
        height: 200px; 
    }
    .wrapper-grid .session-option1 h3,
    .wrapper-grid .session-option2 h3,
    .wrapper-grid .session-option3 h3,
    .wrapper-grid .session-option4 h3{
        font-size: 24px;
    } 
    #about h2{
        font-size: 48px;
    }
    .container-2{
        position: relative;
        margin-bottom: 50px;
    }
    #contact h2 {
        font-size: 48px;
    }
    #contact form {
        position: relative;
        margin-left: 50px;
        margin-right: 50px;
        max-width: 600px;
        margin-bottom: 50px;
    }
    .btn4{
        color: black;
        height: 40px;
        width: 100px;
        font-size: 16px;
        border-radius: 5px;
        border: 2px solid black;
        text-align: center;
    }
    }
    

@media (max-width:580px) {
    .container-1 {
        height: 800px;
        width: 480px;
    }
    .container-1 h1 {
        font-size: 2rem;
    }
    .container-1 p {
        font-size: 1rem;
    }

 .navbar{
    font-size: 15px;
 }
#sessions h2 {
    font-size: 36px;
    margin-top: 50px;
    margin-left: 100px;
    
}
.container{
    height: 550px;
    max-width: 500px;
    position: relative;
}

.container .wrapper-grid {
    position: relative;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.wrapper-grid .session-option1,
.wrapper-grid .session-option2,
.wrapper-grid .session-option3,
.wrapper-grid .session-option4 {
    width: 100%;
    max-width: 250px;
    height: 200px; 
}
.wrapper-grid .session-option1 h3,
.wrapper-grid .session-option2 h3,
.wrapper-grid .session-option3 h3,
.wrapper-grid .session-option4 h3{
    font-size: 24px;
} 

#contact form {
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 600px;
    margin-bottom: 50px;
}
.btn4{
    color: black;
    height: 40px;
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
}
