
body {
    font-family: monospace;
    font-size: 18px;
}
header,footer { 
    background-color: rgb(85, 85, 63);
}
.site-title {
    color: whitesmoke;
}
#my-image {
    box-shadow: 0 0 2px 1px black;
    
}
.hobbies{
    list-style: square;
}
.hobbies :nth-child(odd) {
    background-color: rgb(153, 153, 94);
}
.link {
    list-style: none;
    background-color: whitesmoke;
    border: 1px;
}
.tags { 
    text-decoration: none;
}