body {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: whitesmoke;
    text-align: justify;
}
h1 {
    font-size: 64px;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    color:white;
    background-image: url(../image/macaron-cakes.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.nav-bar ul{
    list-style-type: none;
    background-color: rgb(238, 160, 173);
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;  
}
.nav-bar a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
    text-align: center;
    text-shadow: 1px 1px 1px gray;
}
.nav-bar li {
    float: left;
}
.nav-bar ul li {
    width: 200px;
    margin: 2px;
    padding: 2px;
    margin: 0%;
}

.wrap {
    float: left;
    margin: 5px;
}
h2 {
    font-size: 36px;
    color:  rgb(238, 160, 173);
    text-shadow: 1px 1px 2px lightgrey;
}
.image {
    margin-left: 0px;
    margin-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
}
.contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 3px solid rgb(239, 142, 158);
    background-color: rgb(238, 160, 173);
    padding:20px;
}
#name {
    width: 100%;
    border-radius: 5px;
    border-color: rgb(250, 209, 216);
}
#e-mail {
    width: 100%;
    border-radius: 5px;
    border-color: rgb(250, 209, 216);
}
#message {
    width: 100%;
    border-radius: 5px;
    border-color: rgb(250, 209, 216);
}
footer{
    margin-left: 550px;
}