html{
    box-sizing: border-box;
    font-size: 13px;
}
body{
    background-color: white;
    font-family:'open sans';
    margin:30px;
}
header{
    
    background-color: #222;
    text-align: center;
    line-height: 40px;
    padding: 10px;
}
.container{
    height: 200px;
    background-color: #c78c06;
    margin: 10px;
    position: relative;
}
#logo{
    float: left;
}
.navbar{
    display: inline;
    position: relative;
    bottom: 60px;
}

.nav-list{
    list-style-type: none;
}
a:link{
    text-decoration: none;
    font-size: 16px;
}
#home{
    color: #222;
}
a{
    color: #c78c06;
    text-decoration: none;
}
.nav-list:nth-child(1){
    text-decoration: none;
    color: #222;
    text-align: center;
}

.search-bar{
    height: 30px;
    width:50px
    position: relative;
    float: left;
    right: 30px;
}
.fa-solid{
    color: #c78c06;
    border: #c78c06 solid 2px;
    padding: 7px;
    float: right;
    position: relative;
    bottom: 35px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 48px;

}
h3{
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
h4{
    font-size: 14px;
    margin-left: 10px;
    border-bottom: 2px solid #c78c06;
}
p{
    line-height: 20px;
    margin-left: 10px;
}
.image{
    margin-inline:auto;
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 15px;
}
.image-overlay{
    width: auto;
    object-fit: cover;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 40px;

}
.about-us{
    width: auto;
    padding-left: 10px;
    background-color: #ffe6ac;
}
#about-us{
    width:100%;
    object-fit: cover;
}

.service-1,.service-2,.service-3,.service-4,.service-5{
    width:auto;
    background-color: #ffe6ac;
    margin-bottom: 15px;
}
.content-1,.content-2{
    padding:10px;
}

#digital,#web,#marketing,#video,#print{
    width:100%;
    object-fit: cover;
}
.team-1,.team-2{
    width:auto;
    background-color: #ffe6ac;
    margin-bottom: 15px;
}
.bob,.john{
    margin-top: 8px;
    margin-bottom: 5px;
}
#bob,#john{
    width:100%;
    object-fit: cover;
}
.button{
    display: inline-flex;
    height: 80px;
    background-color: #222;
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 30px;
    margin: 15px;
}
.connect-button{
    display: inline-flex;
    height: 80px;
    background-color:#c78c06;
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 30px;
    margin: 15px;
}
.button__icon{
    padding-left:15px;
    font-size: 1.3em;
}
.vision{
    background-size: 100%;
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-align: left;
}
.vision-button{
    display: inline-flex;
    height: 80px;
    background-color: rgb(0, 0, 42);
    border: #c78c06 solid 1px;
    outline: none;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 30px;
}
input[type=text]{
    width:100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid gray;
}
input[type=submit]{
    background-color: #222;
    color: #c78c06;
}
table{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    text-align:center;
    padding: 10px;
    background-color: #ffe6ac;
}
td{
    text-align: left;
    padding: 10px;
}
table,th,td{
    border:#222 solid 1px;
    border-collapse: collapse; 
}
#googlemap{
    margin-bottom: 15px;
}
footer{
    width: 100%;
    background-color: #222;
    color: #c78c06;
    padding: 20px;
    line-height: 30px;
}

@media (min-width:760px){
   
    .whole-container{
        width: 1200px;
        position: absolute;
    }
   header{
    width: 100%;
    height: 120px;
    margin-left: 130px;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    background-color: #222;

   }
   #logo{
    float: left;
    position: absolute;
   }
   a:link{
    list-style: none;
    color: #c78c06;
    botto
   }
   .navbar li {
    display:inline-block;
    justify-content: right;
    position: relative;
    top:60px;
    right: 200px;
    padding: 30px;
   }
   .search{
      width: 150px;
      position: relative;
      bottom: 23px;
      right: 10px;
      float: right;
   }
   
   .search-bar{
       width: 10px;
   }
   .whole-container .image{
        width: 1220px ;
        height:600px;
        margin-left: 130px;
        background-position: center;
        background-image: url("../images/main-banner.jpg");
        background-repeat: no-repeat;
        position: relative;

    }
   .image-overlay{
        width: 1000px;
        background-color: rgb(0, 0, 0, 0.5);
        color: white;
        position: relative;
        top:120px;
        right: 40px;
        left: 80px;
        
    }
    .about-us{
        width: 1210px;
        height: 285px;
        position: relative;
        left: 130px;
        float: left;
    }
 
    
    
    .aboutus-content{
        height: 250px;
        position: relative;
        left: 30px;
        right: 30px;
    }
    #about-us{
        width: 470px;
        position: relative;
        left: 15px ;
        right: 20px;
        top: 24px;
        float: left;
    }
    #services{
        position: relative;
        left:150px;
        top:20px;
    }
    #digital,#marketing,{
        width:100%;
        height:400px;
        object-fit: cover;
    }
    #web,#video,#print{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .service-5{
        margin-bottom: 15px;
    }

    .wrapper-grid{
        display:grid;
        grid-template-columns: (6,1fr);
        grid-template-rows: 1fr 1fr ;
        column-gap: 15px;  
        row-gap: 10px;
        justify-content: center;
        position: relative;
        left: 150px;
    }
    
.service-1,.service-2{
   width:100%;
   background-color: #ffe6ac;
}
.service-3,.service-4,.service-5{
    width:100%;
    background-color: #ffe6ac;
}
.service-1{
    grid-column: 1/span 3;
    
}
.service-2{
    grid-column: 4/ span 3;
}
.service-3{
    grid-column:1/ span 2;
}
.service-4{
    grid-column:3/ span 2;
}
.service-5{
    grid-column:5/span 2;
}
.vision{
    width: 100%;
    position: relative;
    left: 140px;

}
#team{
    position: relative;
    left:250px;
}
.team-grid{
    position: relative;
    left:130px
}
.team-1 #john{
    width: 480px;
    height: 335px;
    float: left;
}
.team-1{
    width: 980px;
    height: 335px;
    position: relative;
    left: 125px;
} 
.john-box{
    position: relative;
    left: 10px;
    top: 20px;
    right: 20px;
}
.team-2 #bob{
    width: 500px;
    height: 335px;
    float: right;
}

.team-2{
    width: 980px;
    height: 335px;
    position: relative;
    left: 125px;
    bottom: 30px;
} 
.bob-box{
    position: relative;
}
.table{
    width:1200px;
    position: relative;
    left: 40px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    
}
.contact-us{
    width:500px;
    position: relative;
    left:200px;
    right: 20px;
    bottom: 75px;
    order: 1;
}
.location{
    position: relative;
    height: 650px;
    top:50px;
    float: right;
    left:220px;
     order: 2;
}
#googlemap{
    width:200px;
}
.hours{
    position: relative;
    width: 750px;
    left:100px;
    bottom: 30px;
    order: 3;
}
.hours h3{
    position: relative;
    left: 30px;
}
.footer-container{
    position: relative;
    left: 120px;
}
} 
    
